@model RegisterViewModel
@{
    ViewData["Title"] = "Register Form";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label asp-for="FirstName">Nome</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Cognome</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate">Data di nascita</label>
        <input type="date" asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Conferma Password</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Role">Ruolo</label>
        <select class="form-control" id="Role" name="Role" required>
            <option value="Responsabile">Responsabile</option>
            <option value="Dipendente">Dipendente</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <button class="btn btn-primary">Register</button>
</form>

