@{
    ViewData["Title"] = "Prenotazioni";
}

<h2>Prenotazioni</h2>
<a asp-controller="Prenotazione" asp-action="Add" class="btn btn-primary">Aggiungi Prenotazione</a>

<div id="ListContainer" class="container"></div>

@section Scripts {
    <script>
        function studentsList() {
            let container = document.getElementById("ListContainer");

            if(container) {
                const response = fetch("Prenotazioni/GetAllPrenotazioni", {
                    method: "GET",
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error("Errore nella richiesta");
                    }
                    return response.text();
                })
                .then(data => {
                    container.innerHTML = data;

                    new DataTable('#StudentsTable')
                });

            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            studentsList();
        });
    </script>
}